@charset 'utf-8';

body{
    background-color:rgb(71, 131, 243);
    margin: 0;
}


.wrapper {
    width: 100%;
   height: auto;
    
    border: 1px solid black;
    margin: auto;
    
    display: flex;
    flex-flow: column;
    align-items: center;
}

.grid-layout{
    width: 70%;
    
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: ;
    
    
    grid-gap: 10px;
}

.section{
   margin-top: -20px; 
}


a .layout-item{
    background-color: rgba(204, 198, 198, 0.877);
    height: 100px;
}

.item-1 {

    
}

.item-2 {
/*    grid-area: upper-right;*/
}

.item-3 {
/*    grid-area: bottem-left;*/
}

.item-4 {
/*    grid-area: bottom-right;*/
}
